[user]
	name = Eivind Uggedal
	email = eivind@uggedal.com
[alias]
	co = checkout
	ci = commit -v
	st = status --short --branch
	cached = diff --cached
	substatus = !"for g in $(find . -maxdepth 2 -name .git); do (w=${g%/*}; cd $w; if ! git diff --no-ext-diff --quiet --exit-code; then pwd; git status; echo; fi); done"
	recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(committerdate:iso) %(refname:short)"
[core]
	abbrev = 12
[push]
	default = simple
	followTags = true
[pull]
	rebase = true
[log]
	date = iso
	abbrevCommit = true
[diff]
	tool = vimdiff
[merge]
	conflictstyle = diff3
[status]
	showUntrackedFiles = all
[credential]
	helper = !/Library/Java/JavaVirtualMachines/openjdk-11.jdk/Contents/Home/bin/java -Ddebug=false -Djava.net.useSystemProxies=true -jar /usr/local/Cellar/git-credential-manager/2.0.4/libexec/git-credential-manager-2.0.4.jar
